.flex-container{
    display:flex;   
    border:1px solid green;
    justify-content: space-between;
    align-items: center;
  
    
}

.flex-item{
    background-color: red;
    height: 100px;   
    width: 100px;
    margin: 10px;
}

.flex-v-container{
    margin: 10px;   
    display:flex; 
    flex-direction: column; 
    flex-wrap:wrap;
    border:1px solid green;
    justify-content: center;
    align-content: flex-start;
    align-items: center;  
    height: 400px;
}